<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

  <!--  FILTERS  -->
    <filter>
        <filter-name>RequestFilter</filter-name>
        <filter-class>net.accounting.filters.RequestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RequestFilter</filter-name>
        <url-pattern>*.com</url-pattern>
    </filter-mapping>
    <!--  **********************************************************************************************  -->
    
    <!--  SERVLETS  -->
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>net.accounting.controller.ShowUsers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/user.com</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>net.accounting.controller.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/index.com</url-pattern>
    </servlet-mapping>
    <!--  **********************************************************************************************  -->
    
    <!--  JSP CONFIGURATION  -->
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <el-ignored>false</el-ignored>
        </jsp-property-group>
    </jsp-config>
    <!--  **********************************************************************************************  -->
    
</web-app>
